<div class="col-md-12 footer-box">


    <div class="row">
        <div class="col-md-4 social-box">

            <strong>We are Social </strong>
            <hr>
            <a href="https://www.facebook.com/alphatechnolgy/"><i class="fa fa-facebook-square fa-3x pr-1"></i></a>
            <a href="https://www.linkedin.com/company/alphatechnology/"><i class="fa fa-linkedin-square fa-3x  fa-3x pr-1"></i></a>
            <a href="https://alpha-technology.co.uk"><i class="fa fa-globe fa-3x  fa-3x pr-1"></i></a>
            <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
            <p>
                Les chaudières à tubes de fumée HANNON BOILERS sont fabriquées Sous Licence Alpha Technology Mfg (Londres) 
            </p>
        </div>
           
             
                


        <div class="col-md-3">
            <br> <br>  
            <div class="text-center">
                <img width="65" src="./assets/img/logo.png" alt=""> <br> <br>
                <img width="120" src="./assets/img/alpha.png" alt=""> <br> <br> 
                <img width="120" src="./assets/img/Codes.png" alt="" style="margin-right: 10px;">
            </div>
            


            
        </div>

        <div class="col-md-5 ">

            <strong>Our Location</strong>
            <hr>
           
            <div class="row">
                <div class="col-md-6">
                   <strong>Main Office</strong>
                    <p> ALPHA TECHNOLOGY INTL. Ltd. <br>
                        71-75 Shelton Street <br>
                        Covent Garden <br>
                        London <br>
                        WC2H 9JQ <br>
                        United Kingdom <br>
                        Tel: +44 20 8133 2577 <br>
                        contact@alpha-technology.co.uk <br>
                        
                </p>

                </div>

                <div class="col-md-6">
                  <strong> Tunisia Branch Office</strong>
                    <p> ALPHA TECHNOLOGY Suarl. <br>
                        Sahloul III <br>
                        Sousse  <br>
                        4054 <br>
                        Tel: +216 821 245 <br>
                        <a href=""></a>
                        contact@alphatechnology.com.tn <br>
                </p>

                </div>

        
    </div>
    
</div>
<hr>
</div>


<!-- /.col -->
<div class="col-md-12 end-box ">
    &copy; 2020 | &nbsp; All Rights Reserved | &nbsp; www.UFC.com | &nbsp; 24x7 support | &nbsp; Email us: info@UFC.com
</div>