


<div class="container ">
    <br> <br>
    <h2 class="text-center"> watch video </h2>


    <div  class="mb-3 col-md-4 card text-white bg-primary ">
        <h3 class="card-header">{{video.name}}</h3>
   
        <iframe width="560" height="100%" [src]="getsource(video)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            
            <h6 class="card-subtitle text-muted">{{video.date}}</h6>
            <p class="card-text">{{video.description}}</p>
            
        </div>
    </div>
</div>